body{
    background-color: beige;
    
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

a {
    font-family: 'Courier New', Courier, monospace;
    color: grey;
}